<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fa" lang="fa">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset="utf-8"/>
	<title>&{'secure.title'}</title>		
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    <link href="@{'/public/css/bootstrap-rtl.min.css'}" rel="stylesheet">
    <link href="@{'/public/css/bootstrap-responsive-rtl.min.css'}" rel="stylesheet">
    <link href="@{'/public/css/secure.css'}" rel="stylesheet" media="screen">
	#{get 'moreStyles' /}
	
	<link rel="shortcut icon" type="image/png" href="@{'/public/ico/favicon.ico'}">

    <!-- IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
  <div style="display:block;z-index:9999;position:fixed;top:0;right:0;width:100px;height:100px;">
  	<img src="@{'/public/img/debug-ribbon.png'}" />
  </div>

    <div class="container">
        #{doLayout /}
      <hr>
      <footer class="footer">
      <div class="container">
		<p style="text-align:center">
		<small>
			<a href="@{Application.index()}"><i class="icon-home"></i></a> -
			<a href="@{Help.index()}">&{'urs.help.link'}</a>
		</small>
		</p>
        <p style="text-align:center"><small>&{'copyrightNotice'}</small></p>
        </div>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts ================================================== -->
	<script src="@{'/public/js/jquery.min.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/js/bootstrap.js'}"></script>
  	#{get 'moreScripts' /}
  </body>
</html>
