#{extends 'layout.html' /}
#{set 'title'}&{'urs.admin.home.title'}#{/set}

<div class="page-header">
</div>

<div class="row">
	<p><span class="label label-info">&{'urs.index.info'}</span>
		&{'urs.index.infoMessage1'}
	</p>
	<p><span class="label label-important">&{'urs.index.security'}</span>
		&{'urs.index.securityMessage1'}
	</p>
	<p><span class="label label-info">&{'urs.index.info'}</span>
		&{'urs.index.infoMessage2'}
	</p>
	<p><span class="label label-info">&{'urs.index.info'}</span>
		&{'urs.index.infoMessage3'}		
	</p>
	<p><span class="label label-warning">&{'urs.index.warning'}</span>
		&{'urs.index.warningMessage1'}
	</p>
	<p><span class="label label-warning">&{'urs.index.warning'}</span>
		 &{'urs.index.warningMessage2'}
	</p>
	<p><span class="label label-info">&{'urs.index.info'}</span>
		برای اجرا تست‌های عملکردی و واسطه‌ای و نمایش نتایج آن به آدرس محلی <a href="/@tests"><span dir="ltr">/@tests</span></a> مراجعه نمایید.		
	</p>
	<p><span class="label label-info">&{'urs.index.info'}</span>
		برای مشاهده‌ی گزارش <i>پوشش کُد</i> به وسیله‌ی تست‌های موجود به آدرس محلی <a href="/@cobertura"><span dir="ltr">/@cobertura</span></a> مراجعه نمایید.
	</p>
	
</div>
